In [1]:
import pandas as pd

In [2]:
customer = pd.read_csv('AAI_dim_customer.csv', encoding='iso-8859-1')
product = pd.read_csv('AAI_dim_product.csv', encoding='iso-8859-1')
location = pd.read_csv('AAI_dim_location.csv', encoding='iso-8859-1')
sample = pd.read_csv('AAI_Trx_small_sample.csv')

In [3]:
serta = location[location['LOCATION_DSC'].str.contains('SERTÃ')]
serta

     LOCATION_CD LOCATION_DSC  LOC_BRAND_CD       LOC_BRAND_DSC   cp7
189         1715    CBD SERTÃ           302  continente bom dia  6100

In [4]:
serta_sample = sample[sample['LOCATION_CD']==1715][['SKU','PRODUCT_KEY','CUSTOMER_ACCOUNT_NR_MASK','QTY','NET_SLS_AMT',
                                                    'GROSS_SLS_AMT','PROD_DSCNT_ISSUED_AMT','TRANS_DSCNT_RAT_AMT',
                                                   'DIRECT_DSCNT_AMT']]
serta_sample

,SKU,PRODUCT_KEY,CUSTOMER_ACCOUNT_NR_MASK,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
742,2138329,2138329010001,6695859.0,1.000,3.6504,4.49,0.0,0.00,0
929,7620857,7620857010001,12130673.0,0.722,4.7876,5.41,0.0,0.54,0
1117,2597619,2597619010001,6765255.0,1.045,1.0755,1.14,0.0,0.00,0
2607,2004658,2004658010001,130215203.0,2.000,0.7967,0.98,0.0,0.00,0
2608,5621031,5621031010001,130215203.0,1.000,0.2264,0.24,0.0,0.00,0
3351,4455714,4455714010001,102792980.0,1.000,0.3740,0.46,0.0,0.00,0

In [5]:
serta_sample_products = product[(product['SKU']==2138329) | (product['SKU']==7620857) | (product['SKU']==2597619) | 
                                (product['SKU']==2004658) | (product['SKU']==5621031) | (product['SKU']==4455714)][
                                ['SKU', 'PRODUCT_DSC']]
serta_sample_product = serta_sample.merge(serta_sample_products[['SKU', 'PRODUCT_DSC']], on='SKU', how='left')[['SKU',
                                                                'PRODUCT_KEY','CUSTOMER_ACCOUNT_NR_MASK','PRODUCT_DSC','QTY',
                                                                'NET_SLS_AMT','GROSS_SLS_AMT','PROD_DSCNT_ISSUED_AMT',
                                                                'TRANS_DSCNT_RAT_AMT','DIRECT_DSCNT_AMT']].rename(columns={'PRODUCT_DSC_y': 'PRODUCT_DSC'})
serta_sample_product

,SKU,PRODUCT_KEY,CUSTOMER_ACCOUNT_NR_MASK,PRODUCT_DSC,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
0,2138329,2138329010001,6695859.0,DEO SP.OLD SPICE ORIGINAL 150ML,1.000,3.6504,4.49,0.0,0.00,0
1,7620857,7620857010001,12130673.0,FRANGO ASSADO EMBALADO KG S/MOLHO,0.722,4.7876,5.41,0.0,0.54,0
2,2597619,2597619010001,6765255.0,BANANA CAT I CNT KG,1.045,1.0755,1.14,0.0,0.00,0
3,2004658,2004658010001,130215203.0,"VINAGRE BRANCO CONTINENTE 0,5L PET",2.000,0.7967,0.98,0.0,0.00,0
4,5621031,5621031010001,130215203.0,SAL GROSSO CONTINENTE 1KG,1.000,0.2264,0.24,0.0,0.00,0
5,4455714,4455714010001,102792980.0,VINAGRE DE SIDRA PET CONTINENTE 500 ML,1.000,0.3740,0.46,0.0,0.00,0

In [6]:
pao_aldeia = product[product['PRODUCT_DSC'].str.contains('ALDEIA') & product['SUBCAT_DSC_EXT'].str.contains('pão')]
pao_aldeia

,SKU,PRODUCT_DSC,UNIT_BASE_CD_EXT,UNIT_BASE_DSC_EXT,SUBCAT_CD_EXT,SUBCAT_DSC_EXT,CAT_CD_EXT,CAT_DSC_EXT,BIZ_UNIT_CD_EXT,BIZ_UNIT_DSC_EXT,DEPARTMENT_CD_EXT,DEPARTMENT_DSC_EXT,PRODUCT_SHORT_DSC,BRAND_DSC,BRAND_TYPE_CD,PRICE_RANGE,CONVERSION_FACTOR,CAPACITY_UNIT
5127,2909295,(I) PAO TRIGO ALDEIA KG CFA-AÇORES,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PAO ALDEIA KG,FABRICO,MF,?,1.0,KG
13918,4916970,PÃO ALDEIA KG,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PÃO ALDEIA,FABRICO,MF,SECUNDARIA,1.0,KG
17617,5197118,(AT) CONTINENTE ALDEIA KG,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,CONT ALDEIA AT,CONTINENTE,MP,SECUNDARIA,1.0,KG
54117,6930633,(AÇ) PÃO TRIGO ALDEIA ALONGADO KG,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,(AÇ) PÃO TRIGO,FABRICO,MF,SECUNDARIA,1.0,KG
56433,6971403,(LS) CONTINENTE ALDEIA KG,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,CONT ALDEIA LS,CONTINENTE,MP,SECUNDARIA,1.0,KG
135767,7497985,PAO TRIGO ALDEIA KG,16010505,16010505 - pão d'água,160105,160105 - pão trigo,1601,1601 - pão tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PAO TRIGO ALDEI,FABRICO,MF,SECUNDARIA,1000.0,KG