In [1]:
import pandas as pd
import mysql.connector 
from credentials import *

In [2]:
import mysql.connector

cnx = mysql.connector.connect(user=username, password=password,
                              host='193.136.29.19',
                              port = '21022',
                              database='LCED_2_analysis')

#cnx.close()

In [7]:
cur = cnx.cursor()
cur.execute("""SELECT * FROM STG_CUSTOMER
LIMIT 100""")

# get columns names
columns = [desc[0] for desc in cur.description]
df_test = cur.fetchall()

df_test = pd.DataFrame(df_test, columns=columns)

In [8]:
df_test

,CUSTOMER_ACCOUNT_NR_MASK,GENDER,FAMILY_MEMBERS,CP4,SEG_LIFESTYLE_CD,SEG_LIFESTYLE_DSC,SEG_AGE,SEG_AGE_DSC,SEG_LIFESTAGE_CD,SEG_LIFESTAGE_DSC,OPERATION,COMMENTS
0,10094115,F,3.0,2660.0,3,Pre,SA_5,]45;55],6,No Value\r,None,None
1,12247474,F,4.0,2700.0,2,Fam,SA_6,]55;65],5,Active Adults\r,None,None
2,6057045,F,4.0,2785.0,1,Qualidade,SA_1,[0;18],3,Family w/ Young Adul\r,None,None
3,7940790,M,3.0,2710.0,1,Qualidade,SA_5,]45;55],5,Active Adults\r,None,None
4,9555223,M,3.0,2635.0,3,Pre,SA_5,]45;55],5,Active Adults\r,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
95,7371190,M,5.0,1990.0,1,Qualidade,SA_5,]45;55],4,Family with Kids\r,None,None
96,5543047,F,3.0,4460.0,1,Qualidade,SA_4,]35;45],4,Family with Kids\r,None,None
97,9848400,F,4.0,2870.0,1,Qualidade,SA_5,]45;55],5,Active Adults\r,None,None
98,8233698,F,3.0,1800.0,1,Qualidade,SA_4,]35;45],3,Family w/ Young Adul\r,None,None
99,10861906,M,6.0,1400.0,1,Qualidade,SA_6,]55;65],5,Active Adults\r,None,None

In [3]:
customer = pd.read_csv('AAI_dim_customer.csv', encoding='iso-8859-1')
product = pd.read_csv('AAI_dim_product.csv', encoding='iso-8859-1')
location = pd.read_csv('AAI_dim_location.csv', encoding='iso-8859-1')
sample = pd.read_csv('AAI_Trx_small_sample.csv')

In [10]:
flg_sample = sample[sample['LOCATION_CD']==211][['SKU','PRODUCT_KEY','CUSTOMER_ACCOUNT_NR_MASK','QTY','NET_SLS_AMT',
                                                    'GROSS_SLS_AMT','PROD_DSCNT_ISSUED_AMT','TRANS_DSCNT_RAT_AMT',
                                                   'DIRECT_DSCNT_AMT']]
flg_sample

,SKU,PRODUCT_KEY,CUSTOMER_ACCOUNT_NR_MASK,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
399,5640537,5640537010003,2362849.0,3.000,2.2358,2.37,0.0,0.195997,0
643,6677942,6677942010002,3670742.0,1.000,1.6887,1.79,0.0,0.000000,0
875,2076576,2076576010001,8410405.0,0.582,2.5189,2.67,0.0,0.000000,0
1011,7141459,7141459010001,4912943.0,1.000,1.1226,1.19,0.0,0.000000,0
1292,4494558,4494558010001,19640998.0,1.000,3.0000,3.69,0.0,0.000000,0
3836,6352097,6352097010001,130400152.0,1.000,1.1226,1.19,0.0,0.000000,0
3950,6763565,6763565010001,4912943.0,1.000,1.2927,1.59,0.0,0.000000,0
4007,7622297,7622297010001,63047876.0,1.000,1.1789,1.45,0.0,0.144982,0
4386,2597619,2597619010001,51407797.0,1.188,1.2170,1.29,0.0,0.193423,0
4924,3788322,3788322010001,63006502.0,1.000,1.0569,1.30,0.0,0.000000,0
4933,5418646,5418646010001,6101488.0,1.000,1.4553,1.79,0.0,0.000000,0

In [3]:
serta = location[location['LOCATION_DSC'].str.contains('SERTÃƒ')]
serta

     LOCATION_CD LOCATION_DSC  LOC_BRAND_CD       LOC_BRAND_DSC   cp7
189         1715    CBD SERTÃƒ           302  continente bom dia  6100

In [4]:
serta_sample = sample[sample['LOCATION_CD']==1715][['SKU','PRODUCT_KEY','CUSTOMER_ACCOUNT_NR_MASK','QTY','NET_SLS_AMT',
                                                    'GROSS_SLS_AMT','PROD_DSCNT_ISSUED_AMT','TRANS_DSCNT_RAT_AMT',
                                                   'DIRECT_DSCNT_AMT']]
serta_sample

,SKU,PRODUCT_KEY,CUSTOMER_ACCOUNT_NR_MASK,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
742,2138329,2138329010001,6695859.0,1.000,3.6504,4.49,0.0,0.00,0
929,7620857,7620857010001,12130673.0,0.722,4.7876,5.41,0.0,0.54,0
1117,2597619,2597619010001,6765255.0,1.045,1.0755,1.14,0.0,0.00,0
2607,2004658,2004658010001,130215203.0,2.000,0.7967,0.98,0.0,0.00,0
2608,5621031,5621031010001,130215203.0,1.000,0.2264,0.24,0.0,0.00,0
3351,4455714,4455714010001,102792980.0,1.000,0.3740,0.46,0.0,0.00,0

In [5]:
serta_sample_products = product[(product['SKU']==2138329) | (product['SKU']==7620857) | (product['SKU']==2597619) | 
                                (product['SKU']==2004658) | (product['SKU']==5621031) | (product['SKU']==4455714)][
                                ['SKU', 'PRODUCT_DSC']]
serta_sample_product = serta_sample.merge(serta_sample_products[['SKU', 'PRODUCT_DSC']], on='SKU', how='left')[['SKU',
                                                                'PRODUCT_KEY','CUSTOMER_ACCOUNT_NR_MASK','PRODUCT_DSC','QTY',
                                                                'NET_SLS_AMT','GROSS_SLS_AMT','PROD_DSCNT_ISSUED_AMT',
                                                                'TRANS_DSCNT_RAT_AMT','DIRECT_DSCNT_AMT']].rename(columns={'PRODUCT_DSC_y': 'PRODUCT_DSC'})
serta_sample_product

,SKU,PRODUCT_KEY,CUSTOMER_ACCOUNT_NR_MASK,PRODUCT_DSC,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
0,2138329,2138329010001,6695859.0,DEO SP.OLD SPICE ORIGINAL 150ML,1.000,3.6504,4.49,0.0,0.00,0
1,7620857,7620857010001,12130673.0,FRANGO ASSADO EMBALADO KG S/MOLHO,0.722,4.7876,5.41,0.0,0.54,0
2,2597619,2597619010001,6765255.0,BANANA CAT I CNT KG,1.045,1.0755,1.14,0.0,0.00,0
3,2004658,2004658010001,130215203.0,"VINAGRE BRANCO CONTINENTE 0,5L PET",2.000,0.7967,0.98,0.0,0.00,0
4,5621031,5621031010001,130215203.0,SAL GROSSO CONTINENTE 1KG,1.000,0.2264,0.24,0.0,0.00,0
5,4455714,4455714010001,102792980.0,VINAGRE DE SIDRA PET CONTINENTE 500 ML,1.000,0.3740,0.46,0.0,0.00,0

In [6]:
pao_aldeia = product[product['PRODUCT_DSC'].str.contains('ALDEIA') & product['SUBCAT_DSC_EXT'].str.contains('pÃ£o')]
pao_aldeia

,SKU,PRODUCT_DSC,UNIT_BASE_CD_EXT,UNIT_BASE_DSC_EXT,SUBCAT_CD_EXT,SUBCAT_DSC_EXT,CAT_CD_EXT,CAT_DSC_EXT,BIZ_UNIT_CD_EXT,BIZ_UNIT_DSC_EXT,DEPARTMENT_CD_EXT,DEPARTMENT_DSC_EXT,PRODUCT_SHORT_DSC,BRAND_DSC,BRAND_TYPE_CD,PRICE_RANGE,CONVERSION_FACTOR,CAPACITY_UNIT
5127,2909295,(I) PAO TRIGO ALDEIA KG CFA-AÃ‡ORES,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PAO ALDEIA KG,FABRICO,MF,?,1.0,KG
13918,4916970,PÃƒO ALDEIA KG,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PÃƒO ALDEIA,FABRICO,MF,SECUNDARIA,1.0,KG
17617,5197118,(AT) CONTINENTE ALDEIA KG,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,CONT ALDEIA AT,CONTINENTE,MP,SECUNDARIA,1.0,KG
54117,6930633,(AÃ‡) PÃƒO TRIGO ALDEIA ALONGADO KG,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,(AÃ‡) PÃƒO TRIGO,FABRICO,MF,SECUNDARIA,1.0,KG
56433,6971403,(LS) CONTINENTE ALDEIA KG,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,CONT ALDEIA LS,CONTINENTE,MP,SECUNDARIA,1.0,KG
135767,7497985,PAO TRIGO ALDEIA KG,16010505,16010505 - pÃ£o d'Ã¡gua,160105,160105 - pÃ£o trigo,1601,1601 - pÃ£o tradicional,16,16 - Padaria,12,12 - F&L C&Q PAD TAWAY,PAO TRIGO ALDEI,FABRICO,MF,SECUNDARIA,1000.0,KG